@page

@model BizGazeMeeting.Pages.meeting.IndexModel
@{ ViewData["Title"] = "Meeting"; }


@section StyleSheets{
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
    <link href="~/lib/metronic/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/metronic/css/style.bundle.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/lib/jquery-toast/jquery.toast.css" />
    <link rel="stylesheet" href="~/css/conf.css" />
    <link rel="stylesheet" href="~/css/log.css" />
    <!--
    <link href="~/lib/bootstrap.min.css" rel="stylesheet" type="text/css">
        -->
    <style>
        body {
            overflow:hidden;
        }
        menu {
            display: block;
        }

        .dropdown-menu {
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 1000;
            display: none;
            float: left;
            min-width: 160px;
            padding: 5px 0;
            margin: 2px 0 0;
            font-size: 14px;
            text-align: left;
            list-style: none;
            background-color: #fff;
            -webkit-background-clip: padding-box;
            background-clip: padding-box;
            border: 1px solid #ccc;
            border: 1px solid rgba(0, 0, 0, .15);
            border-radius: 4px;
            -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
            box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
            font-family: -apple-system,BlinkMacSystemFont,open_sanslight,"Helvetica Neue",Helvetica,Arial,sans-serif !important;
        }

        .dropdown-menu.pull-right {
            right: 0;
            left: auto;
        }

        .dropdown-menu .divider {
            height: 1px;
            margin: 9px 0;
            overflow: hidden;
            background-color: #3f3f3f;
        }

        .dropdown-menu > li > a svg {
            color: #000;
            fill: #fff;
            margin-right: 10px;
        }

        .dropdown-menu > li > a {
            display: block;
            padding: 10px 10px;
            clear: both;
            font-weight: normal;
            line-height: 1.42857143;
            color: #333;
            white-space: nowrap;
        }

        .dropdown-menu > li > a:hover,
        .dropdown-menu > li > a:focus {
            color: #262626;
            text-decoration: none;
            background-color: #f5f5f5;
        }

        .dropdown-menu > .active > a,
        .dropdown-menu > .active > a:hover,
        .dropdown-menu > .active > a:focus {
            color: #fff;
            text-decoration: none;
            background-color: #337ab7;
            outline: 0;
        }

        .dropdown-menu > .disabled > a,
        .dropdown-menu > .disabled > a:hover,
        .dropdown-menu > .disabled > a:focus {
            color: #777;
        }

        .dropdown-menu > .disabled > a:hover,
        .dropdown-menu > .disabled > a:focus {
            text-decoration: none;
            cursor: not-allowed;
            background-color: transparent;
            background-image: none;
            filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
        }

        .open > .dropdown-menu {
            display: block;
        }

        .open > a {
            outline: 0;
        }

        .dropdown-menu-right {
            right: 0;
            left: auto;
        }

        .dropdown-menu-left {
            right: auto;
            left: 0;
        }

        .pull-right > .dropdown-menu {
            right: 0;
            left: auto;
        }

        .dropup .caret {
            content: "";
            border-top: 0;
            border-bottom: 4px dashed;
            border-bottom: 4px solid \9;
        }

        .dropup .dropdown-menu {
            top: auto;
            bottom: 100%;
            margin-bottom: 2px;
        }

        /* width */
        ::-webkit-scrollbar {
            width: 7px !important;
            /*display: none;*/
            
        }

        /* Track */
        ::-webkit-scrollbar-track {
            background: #242528 !important;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            border-radius: 3px !important;
            background: rgb(17, 17, 17) !important;
        }

        /* Handle on hover
        ::-webkit-scrollbar-thumb:hover {
          background: #555;
        }
        */
        .dropdown-menu > li > a {
            color: #f1f1f1;
        }

        menu > li > a:focus, .dropdown-menu > li > a:hover {
            color: #f1f1f1;
            text-decoration: none;
            background-color: #36383c;
        }
        ind-menu-item {
            height:40px;
        }
    </style>
}


<div id="content" style="height: 100%; overflow:hidden !important; " class="d-flex">
    <div class="subject">
        <div class="subject-info-container">
            <div class="subject-info">
                <span class="subject-text">Video Meeting</span>
                <span class="subject-timer">00:00:00</span>
            </div>
        </div>
    </div>
    <div id="video-grid" class="justify-content-center align-self-center"></div>
    
        
    
    <div class="sideToolbarContainer slideInExt invisible" id="sideToolbarContainer">
        <div class="chat-header">
            <div class="jitsi-icon chat-close-button">
                <svg height="22" width="22" viewBox="0 0 24 24">
                    <path d="M18.984 6.422L13.406 12l5.578 5.578-1.406 1.406L12 13.406l-5.578 5.578-1.406-1.406L10.594 12 5.016 6.422l1.406-1.406L12 10.594l5.578-5.578z"></path>
                </svg>
            </div>
        </div>
        <div id="chatconversation">
        </div>

        <div id="file-sending">
        </div>

        <div id="chat-recipient" style="display:none;">
            <span data-nsfw-filter-status="swf">Private message to </span>
            <div>
                <div class="jitsi-icon ">
                    <svg height="22" width="22" viewBox="0 0 24 24"><path d="M17.016 15.609L13.407 12l3.609-3.609-1.406-1.406-3.609 3.609-3.609-3.609-1.406 1.406L10.595 12l-3.609 3.609 1.406 1.406 3.609-3.609 3.609 3.609zM12 2.016q4.125 0 7.055 2.93t2.93 7.055-2.93 7.055T12 21.986t-7.055-2.93-2.93-7.055 2.93-7.055T12 2.016z"></path></svg>
                </div>
            </div>
        </div>
        <div class="chat-input-container">
            <div id="chat-input">
                <div class="smiley-input">
                    <div id="smileysarea">
                        <div id="smileys">
                            <div class="smiley-button">
                                <div class="jitsi-icon" style="display:flex;">
                                    <svg fill="none" height="22" width="22" viewBox="0 0 20 20">
                                        <path clip-rule="evenodd" d="M10 18.333a8.333 8.333 0 110-16.666 8.333 8.333 0 010 16.666zm0-1.666a6.667 6.667 0 100-13.334 6.667 6.667 0 000 13.334zM8.333 8.75a1.25 1.25 0 11-2.5 0 1.25 1.25 0 012.5 0zM12.917 10a1.25 1.25 0 100-2.5 1.25 1.25 0 000 2.5zM10 15c1.75 0 3.289-.898 4.182-2.259l-1.295-1.072A3.335 3.335 0 0110 13.333a3.344 3.344 0 01-2.876-1.666L5.83 12.741A5 5 0 0010 15z"></path>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="hide-smileys smileys-panel">
                        <div id="smileysContainer">
                            <div class="smileyContainer" id="smiley1">
                                <span class="smiley">
                                    <span>😃</span>
                                </span>
                            </div>
                            <div class="smileyContainer" id="smiley2">
                                <span class="smiley">
                                    <span>😦</span>
                                </span>
                            </div>
                            <div class="smileyContainer" id="smiley3">
                                <span class="smiley">
                                    <span>😄</span>
                                </span>
                            </div>
                            <div class="smileyContainer" id="smiley4">
                                <span class="smiley">
                                    <span>👍</span>
                                </span>
                            </div>
                            <div class="smileyContainer" id="smiley5">
                                <span class="smiley">
                                    <span>😛</span>
                                </span>
                            </div>
                            <div class="smileyContainer" id="smiley6">
                                <span class="smiley">
                                    <span>👋</span>
                                </span>
                            </div>
                            <div class="smileyContainer" id="smiley7">
                                <span class="smiley">
                                    <span>😊</span>
                                </span>
                            </div>
                            <div class="smileyContainer" id="smiley8">
                                <span class="smiley">
                                    <span>🙂</span>
                                </span>
                            </div>
                            <div class="smileyContainer" id="smiley9">
                                <span class="smiley">
                                    <span>😱</span>
                                </span>
                            </div>
                            <div class="smileyContainer" id="smiley10">
                                <span class="smiley">
                                    <span>😗</span>
                                </span>
                            </div>
                            <div class="smileyContainer" id="smiley11">
                                <span class="smiley">
                                    <span>👎</span>
                                </span>
                            </div>
                            <div class="smileyContainer" id="smiley12">
                                <span class="smiley">
                                    <span>🔍</span>
                                </span>
                            </div>
                            <div class="smileyContainer" id="smiley13">
                                <span class="smiley">
                                    <span>❤️</span>
                                </span>
                            </div>
                            <div class="smileyContainer" id="smiley14">
                                <span class="smiley">
                                    <span>😇</span>
                                </span>
                            </div>
                            <div class="smileyContainer" id="smiley15">
                                <span class="smiley">
                                    <span>😠</span>
                                </span>
                            </div>
                            <div class="smileyContainer" id="smiley16">
                                <span class="smiley">
                                    <span>👼</span>
                                </span>
                            </div>
                            <div class="smileyContainer" id="smiley17">
                                <span class="smiley">
                                    <span>😭</span>
                                </span>
                            </div>
                            <div class="smileyContainer" id="smiley18">
                                <span class="smiley">
                                    <span>👏</span>
                                </span>
                            </div>
                            <div class="smileyContainer" id="smiley19">
                                <span class="smiley">
                                    <span>😉</span>
                                </span>
                            </div>
                            <div class="smileyContainer" id="smiley20">
                                <span class="smiley">
                                    <span>🍺</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="usrmsg-form">
                    <textarea id="usermsg" placeholder="Type a message" style="height: 41px;"></textarea>
                </div>
                <div class="send-button-container">
                    <div class="send-button">
                        <div class="jitsi-icon ">
                            <svg fill="none" height="22" width="22" viewBox="0 0 20 20">
                                <path clip-rule="evenodd" d="M16.667 1.667l-15 9.166 5.966.995.7 5.255 2.311-3.85 6.023 4.684V1.667zm-7.93 8.655L6.35 9.924 15 4.638v9.87l-3.684-2.864L12.5 7.5l-3.763 2.822z"></path>
                            </svg>
                        </div>
                    </div>
                    <div class="file-share-button">
                        <div class="jitsi-icon ">
                            <svg fill="none" height="22" width="22" viewBox="0 0 24 24">
                                <path clip-rule="evenodd" d="M13.5,12.5a1,1,0,0,0-1-1h-5a1,1,0,0,0,0,2h5A1,1,0,0,0,13.5,12.5Zm5,5a2,2,0,0,0-1.18.39l-1.75-.8,1.91-.88a2,2,0,0,0,1,.29,2,2,0,1,0-2-2l-1.89.87A2,2,0,1,0,13.5,19a1.88,1.88,0,0,0,.92-.24l2.1,1a2,2,0,1,0,2-2.23Zm-8,2h-5a1,1,0,0,1-1-1V4.5a1,1,0,0,1,1-1h5v3a3,3,0,0,0,3,3h3a1,1,0,0,0,2,0v-1s0,0,0-.06a1.31,1.31,0,0,0-.06-.27l0-.09a1.07,1.07,0,0,0-.19-.28h0l-6-6h0a1.07,1.07,0,0,0-.28-.19.29.29,0,0,0-.1,0,1.1,1.1,0,0,0-.26-.06H5.5a3,3,0,0,0-3,3v14a3,3,0,0,0,3,3h5a1,1,0,0,0,0-2Zm2-14.59L15.09,7.5H13.5a1,1,0,0,1-1-1ZM7.5,15.5a1,1,0,0,0,0,2h1a1,1,0,0,0,0-2Zm0-6h1a1,1,0,0,0,0-2h-1a1,1,0,0,0,0,2Z"></path>
                            </svg>
                        </div>
                    </div>
                    <input type="file" class="d-none" id="file-selector" />
                </div>
            </div>
        </div>
    </div>
    <div class="new-toolbox visible" id="new-toolbox">
        <div class="toolbox-content">
            <div class="toolbox-content-wrapper">
                <div class="toolbox-content-items">
                    <div class="audio-preview">
                        <div class="settings-button-container">
                            <div id="mic-enable" data-toggle="toggle" class="toolbox-button ctooltip" tabindex="0" role="button">
                                <div>
                                    <div class="toolbox-icon">
                                        <div class="jitsi-icon ">
                                            <svg height="22" width="22" viewBox="0 0 22 22">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M16 6a4 4 0 00-8 0v6a4.002 4.002 0 003.008 3.876c-.005.04-.008.082-.008.124v1.917A6.002 6.002 0 016 12a1 1 0 10-2 0 8.001 8.001 0 007 7.938V21a1 1 0 102 0v-1.062A8.001 8.001 0 0020 12a1 1 0 10-2 0 6.002 6.002 0 01-5 5.917V16c0-.042-.003-.083-.008-.124A4.002 4.002 0 0016 12V6zm-4-2a2 2 0 00-2 2v6a2 2 0 104 0V6a2 2 0 00-2-2z"></path>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                                <span class="ctooltiptext">Mute/Unmute your Microphone</span>
                            </div>
                        </div>
                    </div>
                    <div class="video-preview">
                        <div class="settings-button-container">
                            <div id="camera-enable" data-toggle="toggle" class="ctooltip toolbox-button" tabindex="0" role="button">
                                <div>
                                    <div class="toolbox-icon">
                                        <div class="jitsi-icon ">
                                            <svg fill="none" height="22" width="22" viewBox="0 0 22 22">
                                                <path clip-rule="evenodd" d="M13.75 5.5H3.667c-1.013 0-1.834.82-1.834 1.833v7.334c0 1.012.821 1.833 1.834 1.833H13.75c1.012 0 1.833-.82 1.833-1.833v-.786l3.212 1.835a.916.916 0 001.372-.796V7.08a.917.917 0 00-1.372-.796l-3.212 1.835v-.786c0-1.012-.82-1.833-1.833-1.833zm0 3.667v5.5H3.667V7.333H13.75v1.834zm4.583 4.174l-2.75-1.572v-1.538l2.75-1.572v4.682z"></path>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                                <span class="ctooltiptext">Start/Stop your camera</span>
                            </div>
                        </div>
                    </div>
                    <div id="share" data-toggle="toggle" class="desktop-share ctooltip toolbox-button" role="button" tabindex="0">
                        <div>
                            <div class="toolbox-icon ">
                                <div class="jitsi-icon ">
                                    <svg fill="none" height="22" width="22" viewBox="0 0 22 22">
                                        <path clip-rule="evenodd" d="M3.667 2.75h14.666c1.013 0 1.834.82 1.834 1.833v11c0 1.013-.821 1.834-1.834 1.834h-2.75a.917.917 0 010 1.833H6.417a.917.917 0 010-1.833h-2.75a1.833 1.833 0 01-1.834-1.834v-11c0-1.012.821-1.833 1.834-1.833zm0 1.833v11h14.666v-11H3.667zm8.25 3.667c-3.75 0-5.5 1.604-5.5 6.417 2-3.896 5.5-3.667 5.5-3.667v1.274a.5.5 0 00.813.39l3.287-2.65a.5.5 0 000-.778l-3.287-2.65a.5.5 0 00-.813.39V8.25z"></path>
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <span class="ctooltiptext">Share your screen</span>
                    </div>
                    <!--
                                        <div id="record" data-toggle="toggle" class="record ctooltip toolbox-button" role="button" tabindex="0">
                                            <div>
                                                <div class="toolbox-icon ">
                                                    <div class="jitsi-icon ">
                                                        <svg fill="none" height="22" width="22" viewBox="86.70001220703125 97.5 161.6999969482422 132.19998168945312">
                                                            <path clip-rule="evenodd" d="M248.4,206.5v-109H86.7v109H146l-0.9,15.7h-18.3v7.5H207v-7.5h-17.8l-0.9-15.7H248.4z M94.7,105.4h145v93.3&#10;&#9;&#9;h-145V105.4z"></path>
                                                        </svg>
                                                    </div>
                                                </div>
                                            </div>
                                            <span class="ctooltiptext">Start / Stop record</span>
                                        </div>
                    -->

                    <div class="toolbar-button-with-badge">
                        <div id="chat" data-toggle="toggle" class="chat ctooltip toolbox-button" role="button" tabindex="0">
                            <div>
                                <div class="toolbox-icon ">
                                    <div class="jitsi-icon">
                                        <svg fill="none" height="22" width="22" viewBox="0 0 22 22">
                                            <path clip-rule="evenodd" d="M15.583 20.196c.507 0 .917-.41.917-.917v-4.612h2.75c.506 0 .917-.41.917-.917v-11a.917.917 0 00-.917-.917H2.75a.917.917 0 00-.917.917v11c0 .506.41.917.917.917h7.843l4.283 5.195a.917.917 0 00.707.334zM3.667 3.666h14.666v9.167h-3.666v3.893l-3.21-3.893h-7.79V3.667z"></path>
                                        </svg>
                                        <span class="badge badge-circle badge-light-primary chat-badge">5</span>
                                    </div>
                                </div>
                            </div>
                            <span class="ctooltiptext">Open / Close chat</span>
                        </div>
                    </div>
                    <div id="handraise" data-toggle="toggle" class="handraise ctooltip toolbox-button" role="button" tabindex="0">
                        <div>
                            <div class="toolbox-icon ">
                                <div class="jitsi-icon ">
                                    <svg fill="none" height="22" width="22" viewBox="0 0 22 22">
                                        <path d="M10 4.25C10 3.69772 9.55228 3.25 9 3.25C8.44772 3.25 8 3.69772 8 4.25V10.9982C8 11.2743 7.77614 11.4982 7.5 11.4982C7.22386 11.4982 7 11.2743 7 10.9982V5.99683C7 5.44454 6.55228 4.99683 6 4.99683C5.44772 4.99683 5 5.44454 5 5.99683V14.7536C5 16.933 6.16842 19.263 6.91404 20.5425C7.47017 21.4969 8.49409 22.0013 9.53657 22.0013H11.7046C12.9358 22.0013 14.0613 21.3056 14.6118 20.2043L14.7451 19.9374C15.1658 19.0957 15.6904 18.31 16.3067 17.5989L18.5186 15.0468L20.7105 13.342C20.8931 13.1999 21 12.9814 21 12.75C21 12.2651 20.7409 11.9051 20.4084 11.6903C20.1123 11.499 19.7584 11.4172 19.4464 11.3802C18.8102 11.3047 18.0364 11.3818 17.3571 11.5137C16.8436 11.6134 16.3829 11.8077 16 12.0182V4.25C16 3.69772 15.5523 3.25 15 3.25C14.4477 3.25 14 3.69772 14 4.25V10.5C14 10.7761 13.7761 11 13.5 11C13.2239 11 13 10.7761 13 10.5V2.99683C13 2.44454 12.5523 1.99683 12 1.99683C11.4477 1.99683 11 2.44454 11 2.99683V10.5C11 10.7761 10.7761 11 10.5 11C10.2239 11 10 10.7761 10 10.5V4.25Z" />
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <span class="ctooltiptext">Handraise</span>
                    </div>
                    <div id="open-participants-toggle" data-toggle="toggle" class=" ctooltip toolbox-button" role="button" tabindex="0">
                        <div>
                            <div class="toolbox-icon ">
                                <div class="jitsi-icon ">
                                    <svg fill="none" height="22" width="22" viewBox="0 0 22 22">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M18.792 15.583h-3.37a8.607 8.607 0 00-.482-1.833h3.388c.003-.066.005-.142.005-.23 0-3.39-.802-4.353-3.666-4.353-.745 0-1.35.065-1.839.221a4.57 4.57 0 00-1.37-3.494 3.208 3.208 0 115.875 1.85c2.08.788 2.834 2.714 2.834 5.777 0 1.375-.459 2.062-1.375 2.062zm-2.75-9.625a1.375 1.375 0 11-2.75 0 1.375 1.375 0 012.75 0zM3.437 20.167c-1.069 0-1.604-.764-1.604-2.292 0-3.493.926-5.655 3.5-6.486a3.667 3.667 0 115.833 0c2.575.831 3.5 2.993 3.5 6.486 0 1.528-.534 2.292-1.604 2.292H3.438zm6.646-11a1.833 1.833 0 11-3.666 0 1.833 1.833 0 013.666 0zm2.75 8.708c0 .196-.01.349-.025.458H3.692a3.738 3.738 0 01-.025-.458c0-3.856 1.036-5.042 4.583-5.042s4.583 1.186 4.583 5.042z"></path>
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <span class="ctooltiptext">Handraise</span>
                    </div>
                    <div id="tileview" data-toggle="toggle" class=" ctooltip toolbox-button" role="button" tabindex="0">
                        <div>
                            <div class="toolbox-icon ">
                                <div class="jitsi-icon ">
                                    <svg fill="none" height="22" width="22" viewBox="0 0 22 22">
                                        <path d="M7.228 11.464H1.996c-.723 0-1.308.587-1.308 1.309v5.232c0 .722.585 1.308 1.308 1.308h5.232c.723 0 1.308-.586 1.308-1.308v-5.232a1.31 1.31 0 00-1.308-1.309zm0 5.887a.654.654 0 01-.654.654H2.649a.654.654 0 01-.654-.654v-3.924c0-.361.292-.654.654-.654h3.924c.361 0 .654.293.654.654v3.924zm10.464-5.887H12.46c-.723 0-1.308.587-1.308 1.309v5.232c0 .722.585 1.308 1.308 1.308h5.232c.722 0 1.308-.586 1.308-1.308v-5.232a1.31 1.31 0 00-1.308-1.309zm0 5.887a.654.654 0 01-.654.654h-3.924a.654.654 0 01-.654-.654v-3.924c0-.361.293-.654.654-.654h3.924c.361 0 .654.293.654.654v3.924zM7.228 1H1.996C1.273 1 .688 1.585.688 2.308V7.54c0 .723.585 1.308 1.308 1.308h5.232c.723 0 1.308-.585 1.308-1.308V2.308C8.536 1.585 7.95 1 7.228 1zm0 5.886a.654.654 0 01-.654.654H2.649a.654.654 0 01-.654-.654V2.962c0-.361.292-.654.654-.654h3.924c.361 0 .654.292.654.654v3.924zM17.692 1H12.46c-.723 0-1.308.585-1.308 1.308V7.54c0 .723.585 1.308 1.308 1.308h5.232c.722 0 1.308-.585 1.308-1.308V2.308C19 1.585 18.414 1 17.692 1zm0 5.886a.654.654 0 01-.654.654h-3.924a.654.654 0 01-.654-.654V2.962c0-.361.293-.654.654-.654h3.924c.361 0 .654.292.654.654v3.924z"></path>
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <span class="ctooltiptext">Handraise</span>
                    </div>
                    <!--
                    <div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-dark menu-state-bg-primary menu-dark fw-bold fs-7 w-200px py-4"
                         data-kt-menu="true"
                         style="background-color:darkslateblue; height:200px; overflow:scroll !important;">
                                <div class="menu-item px-3">
                                    <a href="#" class="menu-link px-3">
                                        Menu item 1
                                    </a>
                                </div>
                                <div class="menu-item px-3">
                                    <a href="#" class="menu-link px-3">
                                        Menu item 2
                                    </a>
                                </div>
                                <div class="menu-item px-3">
                                    <a href="#" class="menu-link px-3">
                                        Menu item 3
                                    </a>
                                </div>
                                <div class="menu-item px-3">
                                    <a href="#" class="menu-link px-3">
                                        Menu item 4
                                    </a>
                                </div>
                                <div class="menu-item px-3">
                                    <a href="#" class="menu-link px-3">
                                        Menu item 1
                                    </a>
                                </div>
                                <div class="menu-item px-3">
                                    <a href="#" class="menu-link px-3">
                                        Menu item 2
                                    </a>
                                </div>
                                <div class="menu-item px-3">
                                    <a href="#" class="menu-link px-3">
                                        Menu item 3
                                    </a>
                                </div>
                                <div class="menu-item px-3">
                                    <a href="#" class="menu-link px-3">
                                        Menu item 4
                                    </a>
                                </div>
                            </div>-->
                    <div class=" dropup ctooltip toolbox-button" role="button">
                        <div id="more" data-toggle="dropdown" class="" tabindex="0">
                            <div>
                                <div class="toolbox-icon ">
                                    <div class="jitsi-icon ">
                                        <svg fill="none" height="22" width="22" viewBox="0 0 22 22">
                                            <path clip-rule="evenodd" d="M6.417 11a1.833 1.833 0 11-3.667 0 1.833 1.833 0 013.667 0zM11 12.833a1.833 1.833 0 100-3.666 1.833 1.833 0 000 3.666zm6.417 0a1.833 1.833 0 100-3.666 1.833 1.833 0 000 3.666z"></path>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <span class="ctooltiptext">Handraise</span>
                        </div>
                        <ul class="dropdown-menu  pull-left" style="height:fit-content;   background: #242528; overflow-y: auto;" role="menu">
                            <!--overflow-menu

                                        <li>
                                            <a href="javascript:;">
                                                <svg height="22" width="22" viewBox="0 0 32 32"><path d="M16 32C7.163 32 0 24.837 0 16S7.163 0 16 0s16 7.163 16 16-7.163 16-16 16zm-.958-12v-7.994h-1.696v3.224h-3.65v-3.224H8V20h1.696v-3.341h3.65V20h1.696zm1.966-8v8h3.19C22.624 20 24 18.543 24 15.945 24 13.441 22.607 12 20.198 12h-3.19zm1.696 1.429v5.141h1.224c1.499 0 2.342-.909 2.342-2.598 0-1.618-.87-2.543-2.342-2.543h-1.224z"></path></svg>
                                                hey
                                            </a>
                                        </li>
                                        <li class="divider">
                                        </li>

                                        <li>
                                            <a href="javascript:;">
                                                <svg height="22" width="22" viewBox="0 0 32 32"><path d="M16 32C7.163 32 0 24.837 0 16S7.163 0 16 0s16 7.163 16 16-7.163 16-16 16zm-.958-12v-7.994h-1.696v3.224h-3.65v-3.224H8V20h1.696v-3.341h3.65V20h1.696zm1.966-8v8h3.19C22.624 20 24 18.543 24 15.945 24 13.441 22.607 12 20.198 12h-3.19zm1.696 1.429v5.141h1.224c1.499 0 2.342-.909 2.342-2.598 0-1.618-.87-2.543-2.342-2.543h-1.224z"></path></svg>
                                                Manage video quality
                                            </a>
                                        </li>
    <li class="ind-menu-item">
                                    <a href="javascript:;">
                                        <svg fill="none" height="22" width="22" viewBox="0 0 22 22"><path clip-rule="evenodd" d="M8.25 2.75H3.667a.917.917 0 00-.917.917V8.25h1.833V4.583H8.25V2.75zm5.5 1.833V2.75h4.583c.507 0 .917.41.917.917V8.25h-1.833V4.583H13.75zm0 12.834h3.667V13.75h1.833v4.583c0 .507-.41.917-.917.917H13.75v-1.833zM4.583 13.75v3.667H8.25v1.833H3.667a.917.917 0 01-.917-.917V13.75h1.833z"></path></svg>
                                        View full screen
                                    </a>
                                </li>
            -->
                            <!--
    <li>
        <a href="javascript:;">
            <svg fill="none" height="22" width="22" viewBox="0 0 24 25"><path d="M3.876 3.008L3 3.118v10.557a7 7 0 003.29 5.935l5.18 3.238.53.331.53-.331 5.18-3.238A7 7 0 0021 13.675V3.117l-.876-.11-8-1L12 1.993l-.124.016-8 1z" fill="url(#security-off_svg__paint0_linear)" stroke="#fff" stroke-width="2"></path><path d="M20 4v9.675a6 6 0 01-2.82 5.087L12 22V3l8 1z" fill="url(#security-off_svg__paint1_linear)"></path><defs><linearGradient id="security-off_svg__paint0_linear" x1="11.814" y1="4.142" x2="11.814" y2="23" gradientUnits="userSpaceOnUse"><stop stop-color="#FFB800"></stop><stop offset="1" stop-color="#CF4B00"></stop></linearGradient><linearGradient id="security-off_svg__paint1_linear" x1="11.814" y1="4.142" x2="11.814" y2="23" gradientUnits="userSpaceOnUse"><stop stop-color="#FF8A00"></stop><stop offset="1" stop-color="#A03B03"></stop></linearGradient></defs></svg>
            Security options
        </a>
    </li>
        -->
                            <li class="ind-menu-item">
                                <a id="record" href="javascript:;">
                                    <svg fill="none" height="22" width="22" viewBox="0 0 22 22"><path clip-rule="evenodd" d="M11 20.167a9.167 9.167 0 110-18.334 9.167 9.167 0 010 18.334zm0-1.834a7.333 7.333 0 100-14.666 7.333 7.333 0 000 14.666zM15.583 11a4.583 4.583 0 11-9.166 0 4.583 4.583 0 019.166 0z"></path></svg>
                                    Start recording
                                </a>
                            </li>
                            <li class="ind-menu-item">
                                <a id="muteall" href="javascript:;">
                                    <svg fill="none" height="22" width="22" viewBox="0 0 22 22"><path clip-rule="evenodd" d="M5.5 11.988v1.762c0 1.283.879 2.361 2.068 2.665a.694.694 0 00-.005.085v1.318a4.126 4.126 0 01-3.438-4.068.687.687 0 10-1.375 0c0 2.805 2.1 5.12 4.813 5.457v.73a.687.687 0 101.375 0v-.73c1-.124 1.917-.518 2.676-1.105l2.318 2.318a.699.699 0 10.988-.988l-2.318-2.318a.835.835 0 01.007-.01l-.983-.983-.007.01-.994-.994.007-.011-1.047-1.046-.003.014-2.707-2.707v-.018L5.5 9.995v.018L2.568 7.08a.699.699 0 10-.988.988l3.92 3.92zm1.375 1.375v.387a1.375 1.375 0 001.719 1.332l-1.719-1.719zm2.762 2.762a2.73 2.73 0 01-.705.29.694.694 0 01.005.085v1.318a4.103 4.103 0 001.694-.699l-.994-.994zM11 13.518l-1.375-1.375V9.625a1.375 1.375 0 00-2.733-.215L5.819 8.337A2.75 2.75 0 0111 9.625v3.893zm1.249 1.249l1.085 1.085a5.483 5.483 0 00.416-2.102.687.687 0 10-1.375 0c0 .35-.044.691-.126 1.017zM14.667 4.325V5.5c0 .856.586 1.574 1.378 1.776a.464.464 0 00-.003.057v.879A2.75 2.75 0 0113.75 5.5a.458.458 0 00-.917 0c0 1.87 1.4 3.413 3.209 3.638v.487a.458.458 0 00.916 0v-.487a3.648 3.648 0 001.784-.737l1.546 1.546a.466.466 0 10.659-.659L19.4 7.742a.284.284 0 00.005-.006l-.655-.656-.005.007-.663-.662.005-.008-.698-.697-.002.009-1.805-1.804v-.012l-.916-.917v.012l-1.955-1.955a.466.466 0 10-.659.659l2.614 2.613zm.916.917V5.5a.917.917 0 001.146.888l-1.146-1.146zm1.842 1.841c-.146.085-.303.15-.47.193a.464.464 0 01.003.057v.879c.416-.07.8-.232 1.13-.466l-.663-.663zm.908-1.738l-.916-.916V2.75a.917.917 0 00-1.823-.143l-.714-.715a1.833 1.833 0 013.453.858v2.595zm.833.833l.723.723c.179-.431.278-.905.278-1.401a.458.458 0 10-.917 0c0 .234-.03.461-.084.678z"></path></svg>
                                    Mute everyone
                                </a>
                            </li>
                            <li class="ind-menu-item">
                                <a id="muteallvideo" href="javascript:;">
                                    <svg height="22" width="22" viewBox="0 0 24 24"><path d="M3.136 7.1l14.448 14.447-1.033 1.032-2.598-2.599a.936.936 0 01-.459.153H3.709a.786.786 0 01-.803-.804V11.15c0-.459.344-.803.803-.803h.612L2.104 8.131 3.136 7.1zm14.448 3.669v8.714l-9.135-9.134h5.045c.459 0 .84.344.84.803v2.866l3.25-3.249zM14.688.818l8.164 8.165-.584.583L20.8 8.098a.536.536 0 01-.26.086h-5.528a.444.444 0 01-.454-.454V3.108c0-.26.195-.454.454-.454h.345l-1.253-1.253.584-.583zm8.164 2.074v4.924L17.69 2.654h2.851c.26 0 .476.194.476.454v1.619l1.835-1.835z"></path></svg>
                                    Disable everyone's camera
                                </a>
                            </li>

                            <!--
        <li>
            <a href="javascript:;">
                <svg height="22" width="22" viewBox="0 0 22 22"><path fill-rule="evenodd" clip-rule="evenodd" d="M11 20.167a9.167 9.167 0 110-18.334 9.167 9.167 0 010 18.334zm0-1.834c.196 0 .39-.007.582-.022-1.032-.885-1.989-1.997-2.824-3.309-1.26.193-2.583.185-3.935-.048A7.328 7.328 0 0011 18.334zm-.347-3.786c.96 1.376 2.066 2.457 3.233 3.197.27-.116.531-.247.783-.393a.93.93 0 01.007-.062c.254-1.808.2-3.442-.13-4.941a11.59 11.59 0 01-3.893 2.2zm3.286-4.134a9.78 9.78 0 01-4.27 2.518c-1.2-2.256-2.039-5.076-2.27-8.32a7.292 7.292 0 011.36-.595 818.04 818.04 0 00.56.48c.28.242.517.452.75.665a19.214 19.214 0 011.602 1.634c.968 1.121 1.733 2.317 2.268 3.618zm1.294-1.583c-.57-1.147-1.3-2.22-2.174-3.232a21.004 21.004 0 00-1.906-1.93 7.316 7.316 0 015.376 2.514 11.302 11.302 0 01-1.296 2.648zm.803 1.993c.466 1.49.684 3.096.622 4.842A7.303 7.303 0 0018.333 11a7.309 7.309 0 00-.597-2.903c-.461 1-1.034 1.913-1.7 2.726zM3.92 12.869c1.325.378 2.627.502 3.867.4-1.03-2.09-1.776-4.558-2.102-7.32A7.308 7.308 0 003.667 11c0 .653.085 1.287.246 1.89l.006-.021z"></path></svg>
                Start live stream
            </a>
        </li>
    <li class="divider">
                                </li>
            -->

                            <li class="ind-menu-item">
                                <a id="sharescreen" href="javascript:;">
                                    <svg height="22" width="22" viewBox="0 0 32 32"><path d="M16 26.688c5.875 0 10.688-4.813 10.688-10.688S21.875 5.312 16 5.312 5.312 10.125 5.312 16 10.125 26.688 16 26.688zm0-24c7.375 0 13.313 5.938 13.313 13.313S23.375 29.314 16 29.314 2.687 23.376 2.687 16.001 8.625 2.688 16 2.688zM13.313 22V10l8 6z"></path></svg>
                                    Screen share
                                </a>
                            </li>
                            <!--
        <li>
            <a id="mashare" href="javascript:;">
                <svg fill="none" height="22" width="22" viewBox="0 0 20 20"><path fill-rule="evenodd" clip-rule="evenodd" d="M9.317 3.07L5 6.666H2.5a.833.833 0 00-.833.833v5c0 .46.373.833.833.833H5l4.317 3.597a.417.417 0 00.683-.32V3.39a.417.417 0 00-.683-.32zM3.333 8.332h2.27l2.73-2.275v7.884l-2.73-2.275h-2.27V8.333zm8.334-1.666a3.333 3.333 0 010 6.666v-1.666a1.667 1.667 0 100-3.334V6.667zm0-3.334a6.667 6.667 0 010 13.334V15a5 5 0 000-10V3.333z" fill="#fff"></path></svg>
                Share audio
            </a>
        </li>
        <li>
            <a href="javascript:;">
                <svg height="22" width="22" viewBox="0 0 24 24"><path fill-rule="evenodd" clip-rule="evenodd" d="M20 2H4a2 2 0 00-2 2v16a2 2 0 002 2h16a2 2 0 002-2V4a2 2 0 00-2-2zM9.096 14.76l2.146 3.112 3.185-7.351a1 1 0 011.81-.055L20 17.88V4H4v15.76l3.45-5a1 1 0 011.646 0zM9 12a3 3 0 110-6 3 3 0 010 6zm1-3a1 1 0 11-2 0 1 1 0 012 0zm5.416 4.269L18.833 20H12.5l2.916-6.731zm-7.143 3.82L10.28 20H6.264l2.009-2.91z"></path></svg>
                Select background
            </a>
        </li>
        <li>
            <a href="javascript:;">
                <svg fill="none" height="22" width="22" viewBox="0 0 22 22"><path clip-rule="evenodd" d="M15.667 3.667a1 1 0 00-1 1v12.666a1 1 0 001 1h1.666a1 1 0 001-1V4.667a1 1 0 00-1-1h-1.666zm-6.5 6.5a1 1 0 011-1h1.666a1 1 0 011 1v7.166a1 1 0 01-1 1h-1.666a1 1 0 01-1-1v-7.166zm-5.5 5.5a1 1 0 011-1h1.666a1 1 0 011 1v1.666a1 1 0 01-1 1H4.667a1 1 0 01-1-1v-1.666z"></path></svg>
                Speaker stats
            </a>
        </li>

                                <li class="divider">
                                </li>
    -->
                            <li class="ind-menu-item">
                                <a id="setting" href="javascript:;">
                                    <svg height="22" width="22" viewBox="0 0 22 22"><path fill-rule="evenodd" clip-rule="evenodd" d="M9.005 2.17l-.576 1.727-.634.262-1.628-.813a1.833 1.833 0 00-2.116.343l-.362.362a1.833 1.833 0 00-.343 2.116l.816 1.624-.265.638-1.727.576c-.748.25-1.253.95-1.253 1.739v.512c0 .79.505 1.49 1.253 1.74l1.727.575.262.634-.813 1.628a1.833 1.833 0 00.343 2.116l.362.362c.558.558 1.41.696 2.116.343l1.624-.816.638.265.576 1.727c.25.748.95 1.253 1.739 1.253h.512c.79 0 1.49-.505 1.74-1.253l.575-1.726.634-.263 1.628.813a1.833 1.833 0 002.116-.343l.362-.362c.558-.558.696-1.41.343-2.116l-.816-1.624.265-.638 1.727-.576a1.833 1.833 0 001.253-1.739v-.512c0-.79-.505-1.49-1.253-1.74l-1.726-.572-.264-.637.814-1.628a1.833 1.833 0 00-.343-2.116l-.362-.362a1.833 1.833 0 00-2.116-.343l-1.624.816-.638-.265-.576-1.727a1.833 1.833 0 00-1.74-1.253h-.511c-.79 0-1.49.505-1.74 1.253zM7.723 6.173l2.181-.903.84-2.52h.512l.84 2.52 2.185.908 2.372-1.193.362.362-1.188 2.376.903 2.185 2.52.836v.512l-2.52.84-.908 2.185 1.193 2.372-.362.362-2.376-1.188-2.181.903-.84 2.52h-.512l-.84-2.52-2.185-.908-2.372 1.193-.362-.362 1.188-2.376-.903-2.181-2.52-.84v-.512l2.52-.84.908-2.185-1.193-2.372.362-.362 2.376 1.188zM11 15.583a4.583 4.583 0 110-9.166 4.583 4.583 0 010 9.166zM13.75 11a2.75 2.75 0 11-5.5 0 2.75 2.75 0 015.5 0z"></path></svg>
                                    Settings
                                </a>
                            </li>
                            <!--
    <li>
        <a id="" href="javascript:;">
            <svg height="22" width="22" viewBox="0 0 22 22"><path fill-rule="evenodd" clip-rule="evenodd" d="M13.75 1.833h.537c.243 0 .476.097.648.269l3.13 3.13a.917.917 0 01.268.648v13.37c0 .506-.41.917-.916.917H4.583a.917.917 0 01-.916-.917V2.75c0-.506.41-.917.916-.917h9.167zm-1.833 1.834v2.75c0 1.012.82 1.833 1.833 1.833h2.75v10.083h-11V3.667h6.417zm4.583 2.75h-2.75v-2.75h.157L16.5 6.259v.158zm-8.25 8.25a.917.917 0 000 1.833h5.5a.917.917 0 000-1.833h-5.5zm-.917-1.834c0-.506.41-.916.917-.916h5.5a.917.917 0 010 1.833h-5.5a.917.917 0 01-.917-.917zm.917-3.666a.917.917 0 100 1.833h5.5a.917.917 0 000-1.833h-5.5z"></path></svg>
            View shortcuts
        </a>
    </li>
    <li>
        <a href="javascript:;">
            <svg fill="none" height="22" width="22" viewBox="0 0 24 24"><path clip-rule="evenodd" d="M15.872 7.703a1 1 0 011.337-1.487l5.256 4.705a1 1 0 010 1.487l-5.256 4.631a1 1 0 11-1.337-1.486l4.43-3.889-4.43-3.961zM8.465 15.553a1 1 0 11-1.338 1.487l-5.256-4.705a1 1 0 010-1.487l5.256-4.632a1 1 0 011.338 1.487l-4.43 3.888 4.43 3.962z"></path></svg>
            Embed meeting
        </a>
    </li>
        -->
                        </ul>
                    </div>
                    <!--
                                                        <div id="more" data-toggle="toggle" class=" ctooltip toolbox-button" role="button" tabindex="0" data-kt-menu-trigger="click"
                                                             data-kt-menu-placement="bottom-start"
                                                             data-kt-menu-flip="top-start">
                                                            <div>
                                                                <div class="toolbox-icon ">
                                                                    <div class="jitsi-icon ">
                                                                        <svg fill="none" height="22" width="22" viewBox="0 0 22 22">
                                                                            <path clip-rule="evenodd" d="M6.417 11a1.833 1.833 0 11-3.667 0 1.833 1.833 0 013.667 0zM11 12.833a1.833 1.833 0 100-3.666 1.833 1.833 0 000 3.666zm6.417 0a1.833 1.833 0 100-3.666 1.833 1.833 0 000 3.666z"></path>
                                                                        </svg>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <span class="ctooltiptext">Handraise</span>
                                                        </div>
                                    <div id="setting" data-toggle="toggle" class="setting ctooltip toolbox-button" role="button" tabindex="0">
                                        <div>
                                            <div class="toolbox-icon ">
                                                <div class="jitsi-icon ">
                                                    <svg fill="none" height="22" width="22" viewBox="0 0 22 22">
                                                        <path clip-rule="evenodd" d="M9.005 2.17l-.576 1.727-.634.262-1.628-.813a1.833 1.833 0 00-2.116.343l-.362.362a1.833 1.833 0 00-.343 2.116l.816 1.624-.265.638-1.727.576c-.748.25-1.253.95-1.253 1.739v.512c0 .79.505 1.49 1.253 1.74l1.727.575.262.634-.813 1.628a1.833 1.833 0 00.343 2.116l.362.362c.558.558 1.41.696 2.116.343l1.624-.816.638.265.576 1.727c.25.748.95 1.253 1.739 1.253h.512c.79 0 1.49-.505 1.74-1.253l.575-1.726.634-.263 1.628.813a1.833 1.833 0 002.116-.343l.362-.362c.558-.558.696-1.41.343-2.116l-.816-1.624.265-.638 1.727-.576a1.833 1.833 0 001.253-1.739v-.512c0-.79-.505-1.49-1.253-1.74l-1.726-.572-.264-.637.814-1.628a1.833 1.833 0 00-.343-2.116l-.362-.362a1.833 1.833 0 00-2.116-.343l-1.624.816-.638-.265-.576-1.727a1.833 1.833 0 00-1.74-1.253h-.511c-.79 0-1.49.505-1.74 1.253zM7.723 6.173l2.181-.903.84-2.52h.512l.84 2.52 2.185.908 2.372-1.193.362.362-1.188 2.376.903 2.185 2.52.836v.512l-2.52.84-.908 2.185 1.193 2.372-.362.362-2.376-1.188-2.181.903-.84 2.52h-.512l-.84-2.52-2.185-.908-2.372 1.193-.362-.362 1.188-2.376-.903-2.181-2.52-.84v-.512l2.52-.84.908-2.185-1.193-2.372.362-.362 2.376 1.188zM11 15.583a4.583 4.583 0 110-9.166 4.583 4.583 0 010 9.166zM13.75 11a2.75 2.75 0 11-5.5 0 2.75 2.75 0 015.5 0z"></path>
                                                    </svg>
                                                </div>
                                            </div>
                                        </div>
                                        <span class="ctooltiptext">Start / Stop record</span>
                                    </div>
                    -->

                    <div id="leave" data-toggle="toggle" class="ctooltip toolbox-button" tabindex="0" role="button">
                        <div>
                            <div class="toolbox-icon hangup-button">
                                <div class="jitsi-icon ">
                                    <svg height="22" width="22" viewBox="0 0 32 32">
                                        <path d="M16 12c-2.125 0-4.188.313-6.125.938v4.125c0 .5-.313 1.063-.75 1.25a13.87 13.87 0 00-3.563 2.438c-.25.25-.563.375-.938.375s-.688-.125-.938-.375L.373 17.438c-.25-.25-.375-.563-.375-.938s.125-.688.375-.938c4.063-3.875 9.563-6.25 15.625-6.25s11.563 2.375 15.625 6.25c.25.25.375.563.375.938s-.125.688-.375.938l-3.313 3.313c-.25.25-.563.375-.938.375s-.688-.125-.938-.375a13.87 13.87 0 00-3.563-2.438c-.438-.188-.75-.625-.75-1.188V13c-1.938-.625-4-1-6.125-1z"></path>
                                    </svg>
                                </div>
                            </div>
                        </div>

                        <span class="ctooltiptext">Leave</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="setting-dialog-wrapper">
    <!-- Button trigger modal-->
    <button type="button" class="btn btn-primary d-none" data-toggle="modal" data-target="#settingModal">Launch Setting Dialog</button>
    <!-- Modal-->
    <div class="modal setting-dialog fade" id="settingModal" style="display:none" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="sModalLabel" aria-modal="true">
        <div class="modal-dialog modal-dialog-centered mw-650px" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="modal-title" id="exampleModalLabel">Device Setting</span>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <svg height="22" width="22" viewBox="0 0 24 24">
                            <path d="M18.984 6.422L13.406 12l5.578 5.578-1.406 1.406L12 13.406l-5.578 5.578-1.406-1.406L10.594 12 5.016 6.422l1.406-1.406L12 10.594l5.578-5.578z"></path>
                        </svg>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-7 video-container rounded-left">
                                <video autoplay playsinline class="rounded-left shadow-sm  w-100" novalidate="novalidate" id="camera-preview">
                                </video>
                            </div>
                            <div class="col-md-5 device-list-container rounded-right">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <h1 class="d-flex flex-center mb-10">Choose Device</h1>
                                    </div>

                                    <div class="col-sm-12">
                                        <label class="form-label fw-bolder fs-6 mt-3">Camera</label>
                                        <select id="camera-list" class="form-select form-select-solid form-select-sm" data-control="select2" data-hide-search="true" data-placeholder="Choose Camera">
                                        </select>
                                    </div>

                                    <div class="col-sm-12">
                                        <label class="form-label fw-bolder fs-6 mt-3">Mircrophone</label>
                                        <select id="mic-list" class="form-select form-select-solid form-select-sm" data-control="select2" data-hide-search="true" data-placeholder="Choose Camera">
                                        </select>

                                        <video autoplay playsinline class="rounded shadow-sm  w-100 mb-1 d-none" novalidate="novalidate" id="mic-preview">
                                        </video>
                                    </div>

                                    <div class="col-sm-12">
                                        <label class="form-label fw-bolder fs-6 mt-3">Speaker</label>
                                        <select id="speaker-list" class="form-select form-select-solid form-select-sm" data-control="select2" data-hide-search="true" data-placeholder="Choose Camera">
                                        </select>
                                    </div>
                                    <div class="col-sm-12">
                                        <button type="button" id="setting-dialog-ok-button" class="btn btn-lg btn-primary mt-8 d-block m-auto">
                                            <span class="indicator-label">Close</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="setting-dialog-cancel-button" type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--
<button id="open-participants-toggl" class="btn btn-sm btn-white btn-active-primary shadow-sm position-fixed px-5 fw-bolder zindex-2 top-50 mt-10 end-0 transform-90" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-trigger="hover" data-bs-original-title="">
    <span>Participants</span>
</button>
-->
<div id="participants-list" class="drawer drawer-end" data-kt-drawer="true" data-kt-drawer-name="explore" data-kt-drawer-activate="true" data-kt-drawer-overlay="true" data-kt-drawer-width="{default:'300px', 'lg': '375px'}" data-kt-drawer-direction="end" data-kt-drawer-toggle="#open-participants-toggle" data-kt-drawer-close="#participants-list-close" style="width: 375px !important;">

    <div class="card shadow-none w-100">

        <div class="card-header" id="participants-list-header">
            <h3 class="card-title fw-bolder text-white">Meeting Participants(<span id="participant-count">0</span>)</h3>
            <div class="card-toolbar">
                <button type="button" class="btn btn-sm btn-icon btn-active-light-primary me-n5" id="participants-list-close">
                    <span class="svg-icon svg-icon-2">
                        <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                            <g transform="translate(12.000000, 12.000000) rotate(-45.000000) translate(-12.000000, -12.000000) translate(4.000000, 4.000000)" fill="#000000">
                                <rect fill="#000000" x="0" y="7" width="16" height="2" rx="1"></rect>
                                <rect fill="#000000" opacity="0.5" transform="translate(8.000000, 8.000000) rotate(-270.000000) translate(-8.000000, -8.000000)" x="0" y="7" width="16" height="2" rx="1"></rect>
                            </g>
                        </svg>
                    </span>

                </button>
            </div>
        </div>

        <div style="padding: 1rem 2.25rem 0;">
            <b>Joining Info</b>
            <p id="joining-info" style="padding: 1rem;"></p>
            <a id="copy-joining-info" href="#">Copy joining info</a>
        </div>

        <div class="card-body" id="participants-list-body">

        </div>

        <div class="card-footer py-5 text-center" id="participants-list-footer">
            <a class="btn btn-primary">Mute All</a>
        </div>
    </div>
</div>

<form id="return" method="get" action="/"></form>

@section Scripts{
    <script type="text/javascript" src="~/lib/microsoft-signalr/signalr.min.js"></script>
    <script type="text/javascript" src="~/js/adapter-latest.js"></script>
    <script type="text/javascript" src="~/scripts/meeting_ui.js"></script>
    <script type="text/javascript" src="~/lib/jitsi/lib-jitsi-meet.min.js"></script>
    
    <script src="~/lib/jquery.min.js" type="text/javascript"></script>
    <script src="~/lib/bootstrap.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        var atoolbox = document.querySelector('.new-toolbox');
        var asubject = document.querySelector('.subject');

    window.JitsiMeetJS = JitsiMeetJS;

    window._roomId = '@Model._meetingId';
    window._userId = '@Model._userId';
    window._anonymousUserName = '@Model._anonymousUserName';
    window._camId = '@Model._camId';
    window._micId = '@Model._micId';
    window._speakerId = '@Model._speakerId';
    window._videoMute = '@Model._videoMute';
        window._audioMute = '@Model._audioMute';

        const downstate = 'downstate';
        const upstate = 'upstate';
        var curstate = upstate;
        var wait_time = 3;

        var timeoutval = wait_time;

        window.addEventListener('mousemove', () => { motion_detector() });
        function motion_detector() {
            if (curstate == upstate) timeoutval = wait_time;
            else if (curstate == downstate) {
                curstate = upstate;
                upstage();
            }

        }

        function watcher() {
            if (timeoutval == 0) {
                downstage();
            } else {
                setTimeout(function () { watcher(); }, 1000);
                timeoutval--;
            }

        }

        function downstage() {
            asubject.classList.remove("visible");
            atoolbox.classList.remove("visible");
            //curstate = downstate;
            setTimeout(function () { curstate = downstate; }, 300);
        }
        function upstage() {
            asubject.classList.add("visible");
            atoolbox.classList.add("visible");
            watcher();
        }
        watcher();
        
    </script>

    <script src="~/lib/metronic/plugins/global/plugins.bundle.js"></script>
    <script src="~/lib/metronic/js/scripts.bundle.js"></script>
    <script type="text/javascript" src="~/lib/jquery-toast/jquery.toast.js"></script>
    <script type="text/javascript" src="~/scripts/meeting.js"></script>
}
